body{
    display: flex;
    flex-direction: column;
    
}

button{
    font-family: tahoma;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
    border-radius: 25px;
    margin: 2px 0px 2px 0px;
    background-color: #6af403;
    border: none;
    width: 100vw;
    height: 50px;
}

#color-box-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.color-box{
    height: 500px;
    width: 100vw;
    text-align: center;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 200px;
}

.color-name{
   font-family: tahoma;
   color: white;
   letter-spacing: 2px;
   font-size: 20px;
   font-weight: 100;
}